body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f2f2f2;
}

.actions a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.actions a:hover {
    color: #ff0000;
}

.file-forms {
    margin-top: 20px;
}

.file-forms input[type="file"],
.file-forms input[type="text"] {
    margin-right: 10px;
}

.file-forms input[type="file"] {
    display: none;
}

.browse-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

.browse-btn:hover {
    background-color: #656565;
}

.add-btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

.add-btn:hover:hover {
    background-color: #656565;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    margin: 10px 0;
}

button:hover {
    background-color: #656565;
}

/* Модальное окно создания файла */
#createFileModal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#createFileModal .modal-content {
    background-color: #fefefe;

    padding: 20px;
    width: 100%;
    height: 100%;
}

textarea {
    width: 95%;
    min-height: 200px;
    height: 300px;
    border: none;
    resize: vertical;
    outline: none;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;

}

.create-folder-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

.create-folder-btn:hover {
    background-color: #656565;
}

.create-folder-input,
.cancel-btn {
    display: none;
}

.create-folder-input.show,
.cancel-btn.show {
    display: inline-block;
}

span {
    text-decoration: none;
}
